.Input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  color: var(--gray-11);
  box-shadow: 0 0 0 1px var(--gray-7);
  height: 25px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--gray-8);
}

.Input-lg {
  font-size: 1.125rem;
  height: 50px;
  width: 20rem;
}
